<nav class="navbar navbar-expand-lg sticky-top nav-light">
    <div class="container-fluid">
      <div class="d-flex align-items-center">
        <img src="/chatbot.png" alt="Vibesync Logo" class="img-fluid" style="height: 2.5rem;">
        <a class="navbar-brand ms-2" href="/aarogyam" style="color: rgb(0, 0, 0); font-size: clamp(1.5rem, 5vw, 2rem);"><b>Vibesync</b></a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto">
              <li class="nav-item">
                  <a class="nav-link" href="/aarogyam" style="color: white;">Home</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
  
  