<%- layout("/layouts/boilerplate") %>

<div class="container-fluid min-vh-100 d-flex justify-content-center align-items-center">
    <div class="col-8 text-center mb-5">
        <h2 class="mb-3">Vibesync - Your Safe Space, Powered by AI.</h2>
        <p class="lead">
            Your personal space for mental clarity, emotional balance, and self-growth. Designed with a calming aesthetic and backed by intelligent AI, VibeSync provides a safe, non-judgmental environment where you can express yourself freely, track your emotions, and find the support you need.
            No logins, no barriers—just an open space to connect, reflect, and thrive. Because your mental well-being matters. 💙
        </p>
        <a class="btn btn-primary btn-lg" href="/vibesync">Get Started</a>
    </div>
</div>
