body {
    background-color: rgb(32, 32, 32);
}

.badge {
    font-size: 22px;
    padding: 10px 15px;
    position: absolute;
    top: 0;
    left: 0;
}

.options {
    position: absolute;
    top: 20px;
    right: 10px;
}

.options a {
    background-color: white; 
    color: black !important;
    padding: 0.5rem 1rem; 
    border-radius: 25px; 
    text-decoration: none; 
    margin-left: 0.75rem;
    font-weight: 500;
}

.options a:hover {
    background-color: #e0e0e0; 
}

.chat-container {
    text-align: center;
    width: 60%;
    max-width: 600px;
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 15px;
    position: absolute;
    top: 30%;
    left: 30%;
}

.chat-container h2 {
    color: white;
}

.chat-container form {
    background-color: #3a3a3a;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 60px;
    width: 100%;
}

.chat-container form input {
    width: 100%;
    border: none;
    background: none;
    color: white;
    outline: none;
    margin-left: 10px;
}

.chat-container form button {
    font-weight: 500;
}

